<!DOCTYPE html>
<html>
  <head>
    <title>Freebees</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/styles/styles.css" />
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="/app/app.js"></script>
    <script src="/app/controller.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPvz5GX-N_onKVobBHRUlI_8Z4PtaU9Es&libraries=places&callback=loadAllItems"></script>
  </head>
  <body ng-app="myApp" ng-controller="FormController">
    <div id="headerSection">
      <div id="logoTitle">
        <h1>Freebees</h1>
      </div>
      <div id="searchInput">
        <form novalidate>
          <input id="searchBox" placeholder="Search for an item" type="text" ng-model="search.input">
          <button class="yellowButton" ng-click="filterMap()" type="submit">Search</button>
        </form>
      </div>
    </div>
    <div id="map"></div>
    <div id="inputSection">
      <div id="inputForm">
        <form novalidate >
          <h4>Have something to get rid of?</h4><br>
          <input placeholder="Your item" type="text" ng-model="user.item">
          <input placeholder="Your address" id="inputAddress" type="text" ng-model="user.location">
          <div class="spinner"><img src="loading.gif"></div><br>
          <button id="fillIp" type="submit" ng-click="ip()">Or use current location</button><br><br>
          <button class="yellowButton submitForm" type="submit" ng-click="sendPost()" >Submit</button>
          <button class="yellowButton submitForm" type="submit" ng-click="removePost()"> Delete</button>
        </form>
      </div>
    </div>
    <div id="footerSection">
    <p>Brought to you by: I Need Closure MKS31</p>
    </div>
  </body>
</html>
