html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #292929;
  font-family: 'YeezyRegular', 'Arial';

}

body { padding-top: 70px; }

@font-face {
  font-family: 'YeezyRegular';
  src: url('https://www.adidas.com/com/apps/yeezy3so/assets/fonts/yeezy_tstar-regular-webfont.ttf?env=production&v=5.01');
}

@font-face {
  font-family: 'YeezyBold';
  src: url('https://www.adidas.com/com/apps/yeezy3so/assets/fonts/yeezy_tstar-bold-webfont.ttf?env=production&v=5.01');
}

/*
=========================
Header
=========================
*/
@media (min-width: 768px){
  .navbar-fixed{
    padding-right: 0;
    padding-left: 0;
    max-height: 340px;
    height:60px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    border-radius: 0;
    top: 0;
    border-width: 0 0 1px;
    background-color: #292929;
  }
  .navbar-right{
    float: right !important;
    margin-right: -15px;
    margin-right: 0;
    right: 0;
    left: auto;
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .container-fluid{
    margin-left: -15px;
    padding-right: 60px;
    padding-left: 60px;
  }
}

#headerSection {
  color: #797570;
  height: 100%;
}

#beeIcon {
  padding-right: 1%;
  max-height: 42px;
}

#logoTitle {
  font-family: 'YeezyBold', Arial;
  color: #797570;
  font-size: 36px;
}
nav p {
  font-family: 'YeezyRegular', Arial;
  letter-spacing: 1px;
  margin-left: 40px;
}
nav ul{
  width: 59%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-top: auto;
  margin-bottom: auto;
  float: left;
  list-style: none;
  padding: 0;
}

nav li{
  display: inline-block;
  vertical-align: middle;
}

nav a {
  font-weight: 800;
  padding: 15px 10px;
  font-family:  'YeezyRegular', sans-serif;
  font-weight: 800;
  text-decoration: none;
  color: #797570;
}

a.anchor {
  color: #797570;
  float: right;
  padding: 15px 2px;
  margin-right: 15px;
  letter-spacing: 1px;
  padding-bottom: 3px;
  border-bottom: 3px solid transparent;
  transition-property: border-color;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

a.anchor:hover {
  border-bottom-color: #797570;
}

li.rightFloat {
  float: right;
}

#searchInput {
  width: 40%;
  float: right;
  padding: 10px 0;
}
/*#searchBtn {
  box-shadow: 1px 1px white;
  margin-left: 1%;
}*/
#searchBox {
  width: 50%;
  font-size: 16px;
}
/*
=========================
Map
=========================
*/
#map {
  height: 78%;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 70px;
}

.createdAt {
  font-size: 10px;
}
/*
=========================
Form inputs
=========================
*/
#inputSection {
  padding-top: 10%;
  padding-bottom: 8%;
  color: #797570;
}

h4 {
  margin: 0;
}

#inputForm {
  display: block;
  text-align: center;
  color: #797570;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4%;
}

#inputForm form {
  width: 100%;
  display: inline-block;
}

input {
  width: 30%;
  padding: 10px;
  border: none;
  box-shadow: 1px 1px 1px #606060;
    -moz-box-shadow: 1px 1px 1px #606060;
    -webkit-box-shadow: 1px 1px 1px #606060;
  border-radius: 3px;
}

input:focus {
  outline: #565555;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 3px;
}

input[type="text"] {
  margin: 0.5%;
  margin-bottom: 0;
  font-family: 'Cabin', 'Arial';
  color: #606060;
  letter-spacing: 0.5px;
  font-size: 18px;
}

.spinner {
  display: inline-block;
  margin-right: 14%;
  float: right;
}

.spinner img{
  visibility: hidden;
  height: 32px;
  position: relative;
  left: 37%;
}

.yellowButton {
  border-radius: 5px;
  overflow: hidden;
  text-transform: uppercase;
  background: #525252;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  padding: 1% 1%;
  position: relative;
  -webkit-transition-property: background;
         -moz-transition-property: background;
           -o-transition-property: background;
              transition-property: background;
      -webkit-transition-duration: 0.1s;
         -moz-transition-duration: 0.1s;
           -o-transition-duration: 0.1s;
              transition-duration: 0.1s;
      -webkit-transition-timing-function: linear;
         -moz-transition-timing-function: linear;
           -o-transition-timing-function: linear;
              transition-timing-function: linear;
}

/*#searchInput > .yellowButton {
  padding: 1% 4%;
}*/

.submitForm {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 20px;
}

/*.yellowButton > a {
  padding: 7% 27% 7% 27%;

}*/
#fillIp {
  border: none;
  color: #606060;
  font-size: 12px;
  background: none;
  padding: 0;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 1px dotted #606060;
  position: relative;
  left: 32%;
  outline: none;
}

#fillIp:hover {
  font-weight: 800;
}

button:hover {
  background: #525252;
}

button a:visited, button a{
  color: #797570;
  text-decoration: none;
}

/*
=========================
Footer
=========================
*/
#footerSection {
  font-size: 30px;
  right: 0;
  left: 0;
  margin-bottom: 20px;
  display: block;
  background-color: black;
  height: 130px;
  width: 100%;
  color: #797570;
  text-align: center;
  vertical-align: middle;
  z-index: 1030;
  padding-top: 1%;
  padding-bottom: 4%;
}

#footerSection #bottomCopyright {
  font-size: 12px;
  color: grey;
}

#footerSection span {
  font-size: 20px;
  margin-left: 3%;
  margin-right: 3%;
}

#footerSection img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

span a {
  font-weight: bold;
}

#footerSection a {
  color: #797560;
  text-decoration: none;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

#footerSection a:visited {
  color: grey;
}

#footerSection a:hover {
  font-weight: bold;
  color: #797570;
}

.shoe {
  text-align: center;
  margin: auto;
  padding-left: 42%;
}

#fileInput {
  margin-top: 20px;
}

.musicContainer {
  background-color: #797570;
  width: 20%;
  display: block;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
}

.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}