html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fcd04b;
  font-family: 'Cabin', 'Arial';
}

body { padding-top: 70px; }
/*
=========================
Header
=========================
*/
@media (min-width: 768px){
  .navbar-fixed{
    padding-right: 0;
    padding-left: 0;
    max-height: 340px;
    height:60px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    border-radius: 0;
    top: 0;
    border-width: 0 0 1px;
    background-color: #000;
  }
  .navbar-right{
    float: right !important;
    margin-right: -15px;
    margin-right: 0;
    right: 0;
    left: auto;
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .container-fluid{
    margin-left: -15px;
    padding-right: 60px;
    padding-left: 60px;
  }
}

#headerSection {
  color: #fff;
  height: 100%;
}

#beeIcon {
  padding-right: 1%;
  max-height: 32px;
}

#logoTitle {
  font-family: 'Lobster', cursive;
  color: #FFF;
  font-size: 36px;
}
nav p {
  font-family: 'Cabin', Arial;
  letter-spacing: 1px;
  margin-left: 40px;
}
nav ul{
  width: 59%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-top: auto;
  margin-bottom: auto;
  float: left;
  list-style: none;
  padding: 0;
}

nav li{
  display: inline-block;
  vertical-align: middle;
}

nav a {
  font-weight: 800;
  padding: 15px 10px;
  font-family:  'Montserrat', sans-serif;
  font-weight: 800;
  text-decoration: none;
  color: #FFF;
}

a.anchor {
  color: #fff;
  float: right;
  padding: 15px 2px;
  margin-right: 15px;
  letter-spacing: 1px;
  padding-bottom: 3px;
  border-bottom: 3px solid transparent;
  transition-property: border-color;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

a.anchor:hover {
  border-bottom-color: grey;
}

li.rightFloat {
  float: right;
}

#searchInput {
  width: 40%;
  float: right;
  padding: 10px 0;
}
#searchBtn {
  box-shadow: 1px 1px white;
  margin-left: 1%;
}
#searchBox {
  width: 50%;
  font-size: 16px;
}
/*
=========================
Map
=========================
*/
#map {
  height: 78%;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 70px;
}

.createdAt {
  font-size: 10px;
}
/*
=========================
Form inputs
=========================
*/
#inputSection {
  padding-top: 10%;
  padding-bottom: 8%;
}

h4 {
  margin: 0;
}

#inputForm {
  display: block;
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4%;
}

#inputForm form {
  width: 100%;
  display: inline-block;
}

input {
  width: 30%;
  padding: 10px;
  border: none;
  box-shadow: 1px 1px 1px #606060;
    -moz-box-shadow: 1px 1px 1px #606060;
    -webkit-box-shadow: 1px 1px 1px #606060;
  border-radius: 3px;
}

input:focus {
  outline: #565555;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 3px;
}

input[type="text"] {
  margin: 0.5%;
  margin-bottom: 0;
  font-family: 'Cabin', 'Arial';
  color: #606060;
  letter-spacing: 0.5px;
  font-size: 18px;
}

.spinner {
  display: inline-block;
  margin-right: 14%;
  float: right;
}

.spinner img{
  visibility: hidden;
  height: 32px;
  position: relative;
  left: 37%;
}

.yellowButton {
  border-radius: 50px;
  border: 2px solid #fff;
  color: #fff;
  overflow: hidden;
  text-transform: uppercase;
  background: #fcc626;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: 1px 1px 1px black;
  padding: 1% 1%;
  position: relative;
  -webkit-transition-property: background;
         -moz-transition-property: background;
           -o-transition-property: background;
              transition-property: background;
      -webkit-transition-duration: 0.1s;
         -moz-transition-duration: 0.1s;
           -o-transition-duration: 0.1s;
              transition-duration: 0.1s;
      -webkit-transition-timing-function: linear;
         -moz-transition-timing-function: linear;
           -o-transition-timing-function: linear;
              transition-timing-function: linear;
}

#searchInput > .yellowButton {
  padding: 1% 4%;
}

.submitForm {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 20px;
}

.yellowButton > a {
  padding: 7% 27% 7% 27%;

}
#fillIp {
  border: none;
  color: #606060;
  font-size: 12px;
  background: none;
  padding: 0;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 1px dotted #606060;
  position: relative;
  left: 32%;
  outline: none;
}

#fillIp:hover {
  font-weight: 800;
}

button:hover {
  background: #fcad26;
}

button a:visited, button a{
  color: #FFF;
  text-decoration: none;
}

/*
=========================
Footer
=========================
*/
#footerSection {
  font-size: 30px;
  right: 0;
  left: 0;
  margin-bottom: 20px;
  display: block;
  background-color: black;
  height: 200px;
  width: 100%;
  color: white;
  text-align: center;
  vertical-align: middle;
  z-index: 1030;
  padding-top: 1%;
  padding-bottom: 4%;
}

#footerSection #bottomCopyright {
  font-size: 12px;
  color: grey;
}

#footerSection span {
  font-size: 20px;
  margin-left: 3%;
  margin-right: 3%;
}

#footerSection img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 5px solid #fcad26;
}

span a {
  font-weight: bold;
}

#footerSection a {
  color: #fcad26;
  text-decoration: none;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

#footerSection a:visited {
  color: grey;
}

#footerSection a:hover {
  font-weight: bold;
  color: #fcad26;
}
